// Заголовки, загальні БЕМ блоки та інше...


// Шапка блока

.block-header {
  &__label {
    line-height: 156.25%; /* 25/16 */
    text-transform: capitalize;
  }
  &__text {
    text-transform: capitalize;
    color: $goldColor;
    font-family: "Italiana";
    font-size: toRem(48);
  }
  &__title {

  }
  &__button {

  }
}

